////цвета (светлая тема)
//$main-background-project: #F0EEF0;
//$white-background: #ffffff;
//$white-toBlack-color: #ffffff;
//$background-available: #b1e7b9;
//$main-placeholder: #2E343D;
//$main-gray-text: #2E343D;
//$orange-background: #D37A4A;
//$light-background: #F5F0E1; // такой самый частый светленький
//$dark-background: #7B5537 // по темнее, почти коричневый

:root {
  --main-background-project: #F0EEF0;
  --white-background: #ffffff;
  --white-toBlack-color: #ffffff;
  --background-available: #b1e7b9;
  --main-placeholder: #2E343D;
  --main-gray-text: #2E343D;
  --orange-background: #D37A4A;
  --light-background: #F5F0E1;
  --dark-background: #7B5537;
}