:root {
  --main-background-project: #F0EEF0;
  --white-background: #ffffff;
  --white-toBlack-color: #ffffff;
  --background-available: #b1e7b9;
  --main-placeholder: #2E343D;
  --main-gray-text: #2E343D;
  --orange-background: #D37A4A;
  --light-background: #f5f0e1;
  --dark-background: #7B5537;

  --orange-background-hover: #e65c00;
  --orange-background-active: #cc5200;
  --orange-background-focus: #ff944d;
}

.dark-theme {
  --main-background-project: #1d1d1d;
  --white-background: #2b2b2b;
  --white-toBlack-color: #000000;
  --background-available: #8fd5a7;
  --main-placeholder: #cfcfcf;
  --main-gray-text: #cfcfcf;
  --orange-background: #b56233;
  --light-background: #3b2d21;
  --dark-background: #1a120e;
}